pkgbase = gossamer
	pkgdesc = Gossamer language toolchain
	pkgver = 0.45.2
	pkgrel = 1
	url = https://github.com/danpozmanter/gossamer
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = gcc-libs
	options = !strip
	source_x86_64 = gossamer-0.45.2-linux-x86_64.tar.gz::https://github.com/danpozmanter/gossamer/releases/download/v0.45.2/gos-0.45.2-linux-x86_64.tar.gz
	sha256sums_x86_64 = 1f69a156a73c5e1eb05743707eb66bf071a4b82eaeeed6b027c389867451ce2f
	source_aarch64 = gossamer-0.45.2-linux-aarch64.tar.gz::https://github.com/danpozmanter/gossamer/releases/download/v0.45.2/gos-0.45.2-linux-aarch64.tar.gz
	sha256sums_aarch64 = 2393aa9f88037cd07aa0a6708b076ef1b4427690f4e45d386854db936c85d687

pkgname = gossamer
