pkgbase = gossamer
	pkgdesc = Gossamer language toolchain
	pkgver = 0.46.0
	pkgrel = 1
	url = https://github.com/danpozmanter/gossamer
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = gcc-libs
	options = !strip
	source_x86_64 = gossamer-0.46.0-linux-x86_64.tar.gz::https://github.com/danpozmanter/gossamer/releases/download/v0.46.0/gos-0.46.0-linux-x86_64.tar.gz
	sha256sums_x86_64 = e1d47ad2a97098d490cfea0eafc775a2d692b831dfba13da601994b2c3f5ea41
	source_aarch64 = gossamer-0.46.0-linux-aarch64.tar.gz::https://github.com/danpozmanter/gossamer/releases/download/v0.46.0/gos-0.46.0-linux-aarch64.tar.gz
	sha256sums_aarch64 = 21d29db630f8e935f29af5f712d470b55cdfabb65f30e5e9fc3e5ab15ced98d8

pkgname = gossamer
