pkgbase = gossamer
	pkgdesc = Gossamer language toolchain
	pkgver = 0.40.0
	pkgrel = 1
	url = https://github.com/danpozmanter/gossamer
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = gcc-libs
	options = !strip
	source_x86_64 = gossamer-0.40.0-linux-x86_64.tar.gz::https://github.com/danpozmanter/gossamer/releases/download/v0.40.0/gos-0.40.0-linux-x86_64.tar.gz
	sha256sums_x86_64 = ea7847562e9fdba6f99ad522f9c5a860b2a557ddacfaac502465a130907947ba
	source_aarch64 = gossamer-0.40.0-linux-aarch64.tar.gz::https://github.com/danpozmanter/gossamer/releases/download/v0.40.0/gos-0.40.0-linux-aarch64.tar.gz
	sha256sums_aarch64 = b02528b2c9c2bdd6cda24ab80513efab7eead39904f3578189e0982158c74143

pkgname = gossamer
