pkgbase = pi-bin
	pkgdesc = AI coding agent for the terminal — minimal, extensible and optimized for tool-use (pi-mono)
	pkgver = 0.84.1
	pkgrel = 1
	url = https://github.com/badlogic/pi-mono
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = glibc
	optdepends = tmux: for background bash capabilities
	provides = pi
	conflicts = pi
	options = !strip
	source_x86_64 = pi-linux-x64-0.84.1-1.tar.gz::https://github.com/badlogic/pi-mono/releases/download/v0.84.1/pi-linux-x64.tar.gz
	sha256sums_x86_64 = 5634d7ebd18274b63af3371e942f342d74bea012389575c1d1ff15ce6ca80c2f
	source_aarch64 = pi-linux-arm64-0.84.1-1.tar.gz::https://github.com/badlogic/pi-mono/releases/download/v0.84.1/pi-linux-arm64.tar.gz
	sha256sums_aarch64 = ab95c058a4651b5ff5d8c878e524edfb776263c7a444f325505f247c056eecfc

pkgname = pi-bin
